/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;
    /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;
    /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;
    /* prevent copy paste, to allow, change 'none' to 'text' */
    padding: 0px;
    margin: 0px;
}

body .app .hidden{
    display: none;
}

body .app *{
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
}

p, h1, h2, h3, h4{
    margin: 0px;
}

.titlebar{
    width: 100%;
    padding: 10px;
}

.logo{
    width: 50px;
    height: 50px;
    background-image: url("../img/behappylogo.jpg");
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;

}

.titlebar h1{
    color: red;
    font-weight: normal;
    width: calc(100% - 60px);
    padding: 10px;
}

.titlebar .happy{
    font-weight: bold;
}

.time_buttons{
    width: 100%;
}

.js_today, .js_history{
    width: 47%;
    text-align: center;
    padding: 30px;
}

.rate_area{
    width: 100%;
    display: block;
    padding-bottom: 20px;
}

.rate_area h3{
    width: 100%;
    text-align: center;
}

.rate_area .slider_area{
    width: 100%;
    text-align: center;
}
.rate_area .rate_output{
    width: 100%;
    text-align: center;
}
.rate_area .rating{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.happy_text{
    width: 100%;
}

.add_image_area{

    width: 100%;
    height: 60px;
    padding: 20px;
    text-align: center;
}

.add_image{
    width: 100%;
}

.list_area > *{
    width: 100%;
    padding: 10px;
}

.list_area .title{
    width: 80%;
}
.list_area .info{
    width: 80%;
}

.select_page h3{
    padding: 10px;
}

.select_page .today_area{
    width: 100%;
    background-color: #ddd;
}

.select_page .today_area h4{
    width: 100%;
    padding: 10px;
}

.select_page .selected_area{
    width: 100%;
    padding: 20px;
}

.add_new_item{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.options_area{
    padding: 20px;
}

.item{
    padding: 4px;
    border-radius: 10px;
    background-color: #555;
    color: white;
    margin: 5px;
}

.back_icon{
    width: 80px;
    height: 50px;
    text-align: center;
    padding: 10px;
}
